<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .main {
          width: 100vw;
          height: 100vh;
          //position: relative;
        }

        .table {
          background-color: green;
          position: relative;
          top: 20%;
          height: 50vh;
          width: 80vw;
          border-radius: 50%;
          margin: 0 auto;
          border: 1em solid black;
        }

    </style>

</head>
<body>

<div class="main">
    <div class="table"></div>
</div>

</body>
</html>